version: '3.8'

services:
  app:
    container_name: URL_Shortener_Ruckus_Networks_App
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - BASE_URL=http://localhost:8080